.top
  text-align center
  &__header
    font-size 9rem
    line-height 0.7 
    display flex
    justify-content: center;

  &__tagline
    margin-top 2rem
    font-size 2rem
    color orange
    position relative
    display inline-block
    span
      background white
      position relative
      z-index 2
      padding-left 1rem
      padding-right 1rem
    &:before, &:after
      display block
      z-index 1
      background black
      position absolute
      width 130%
      height 1px
      content ''
      top -0.5rem
      margin-left -15%
    &:after
      top auto
      bottom -0.5rem