.header
  &__styled
    display flex
    font-size 3rem
    color orange
    justify-content: center;
    align-items: center;
    background-size cover
    padding 0 1rem
    &--of
        padding-right 2rem
        position relative
        right -0.5rem