doctype html
html(lang="en")
  head
    title= Title
    link(rel="stylesheet" href=assetPath('main.css'))
  body
    #main
      p this is text
      // block content
    script(src=assetPath('main.js'))