.header
  &__styled
    display flex
    position relative
    font-size 3rem
    color orange
    justify-content: center;
    align-items: center;
    background-size cover
    padding 0 1rem
    &--of
        position absolute
        left 1rem
        top 3rem

    &--the
        position absolute
        left 8.5rem
        top 3rem